@import url(https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900);

.body {
  background-color: color:#00000c;
}

.wrap {
  background-color: color:#00000c;
}

.div {
  background-color: color:#00000c;
  color:#B0FDFF;
  font-family: 'Orbitron', sans-serif;
  padding-left: 30px;
}

.header {
  background:#00000c;
  color:#B0FDFF;
  font-family: 'Orbitron', sans-serif;
  font-size:22px;
  padding-left: 30px;
}

.reset-container {
  background:#00000c;
  color:#B0FDFF;
  font-family: 'Orbitron', sans-serif;
  padding-left: 30px;
}

.message-container {
  background:#00000c;
  color:#B0FDFF;
  font-family: 'Orbitron', sans-serif;
  font-size:20px;
}

.board-container {
  background:#00000c;
  color:#B0FDFF;
  font-family: 'Orbitron', sans-serif;
  padding-left: 30px;
}

.game-log-container {
  background:#00000c;
  color:#B0FDFF;
  font-family: 'Orbitron', sans-serif;
  padding-left: 30px;
}

.player-scores-container{
  background:#00000c;
  color:#B0FDFF;
  font-family: 'Orbitron', sans-serif;
  padding-left: 30px;
}

.visible {
  display: block;
  background:#00000c;
  color:#B0FDFF;
  font-family: 'Orbitron', sans-serif;
  padding-left: 30px;
}

.hidden {
  display: none;
  font-family: 'Orbitron', sans-serif;
}

.board-tile {
  font-family: 'Orbitron', sans-serif;
  font-size:70px;
  height: 80px;
  width: 80px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
}

.row-2 {
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: thick;
  font-family: 'Orbitron', sans-serif;
  font-size:70px;
  height: 80px;
  width: 80px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 5px;
}

.col-2 {
  border-right-style: solid;
  border-left-style: solid;
  border-width: thick;
  font-family: 'Orbitron', sans-serif;
  font-size:70px;
  height: 80px;
  width: 80px;
  text-align: center;
}
